/* normalize.css */

/* Document
   ========================================================================== */
html {
  line-height: 1.15; /* Better default line-height */
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
}

/* Sections
   ========================================================================== */
body {
  margin: 0; /* Remove default margin */
}

/* Headings
   ========================================================================== */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
hr {
  height: 0;
  color: inherit;
}

/* Text-level semantics
   ========================================================================== */
abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Embedded content
   ========================================================================== */
img {
  border-style: none;
  max-width: 100%; /* Responsive images */
  height: auto;
}

/* Forms
   ========================================================================== */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;        /* Standard property */
  -webkit-appearance: button; /* Vendor prefix for WebKit browsers */
}

textarea {
  resize: vertical;
}

/* Interactive
   ========================================================================== */
[hidden] {
  display: none;
}
